aws_region   = "us-east-1"
project_name = "otel-fargate-lab"
environment  = "lab"

service_a_port = 8000
service_b_port = 8001

service_a_health_path = "/health"
service_b_health_path = "/health"

# IMPORTANT:
# Keep both at 0 for the first apply, because ECR starts empty.
# After pushing the two Docker images, change them to 2 and apply again.
service_a_desired_count = 0
service_b_desired_count = 0

db_name     = "appdb"
db_username = "appadmin"
db_multi_az = false
